/* Fonts */
@font-face {
  font-family: 'Roboto Flex';
}

/* Text styles */
h1,
h2,
h3,
h4 {
    font-family: Roboto Flex, serif;
    line-height: 1.125;
}

h1,
h2 {
  font-weight: 600
}

#search {
  border-radius: 8px;
}

:focus:not([tabindex="-1"]),
[data-expands]:focus svg,
.patterns a:focus .text,
[for="themer"] :focus + [aria-hidden] {
  outline: 2px solid #6DC3BF;
  border-radius: 2px;
}

.intro-and-nav {
  border-right: 1px solid;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0;
}

.social-links :not(:last-child) {
  margin-right: 1rem;
}

.social-link {
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

.social-link img {
  width: 28px;
}

a.social-link {
  border-bottom: none;
}

.intro h3 {
  margin: 0.5rem 0;
  font-size: 25px;
}

.intro h4 {
  margin: 0.5rem 0;
}

[role="contentinfo"] {
  margin-top: 0;
}

.patterns {
  margin-top: 1rem;
}
