<footer role="contentinfo">
  <div class="social-links">
    <a href="https://github.com/mariehmai" class="social-link" target="_blank" rel="noopener">
      <svg class="social-icon md" aria-hidden="true" focusable="false">
        <use xlink:href="#github"></use>
      </svg>
    </a>
    <a href="https://www.linkedin.com/in/mariehmai" class="social-link" target="_blank" rel="noopener">
      <svg class="social-icon md" aria-hidden="true" focusable="false">
        <use xlink:href="#linkedin"></use>
      </svg>
    </a>
    <a href="mailto:mai.mariehelene@gmail.com" class="social-link" target="_blank" rel="noopener">
      <svg class="social-icon md" aria-hidden="true" focusable="false">
        <use xlink:href="#email"></use>
      </svg>
    </a>
  </div>
  {{ with .Site.Params.footer }}
    {{ . | markdownify }}
  {{ end }}
</footer>
