<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a
        class="logo"
        href="{{ .Site.BaseURL }}"
        aria-label="{{ .Site.Title }} home page"
      >
        {{ with .Site.Params.navTitleText }}
          <h1>{{ . }}</h1>
        {{ else }}
          <img
            src="{{ "images/logo.svg" | relURL }}"
            alt="{{ .Site.Params.logoAlt | default "Logo" }}"
          >
          {{ end }}
        </a>
        <h3>
          Marie-Hélène Mai
        </h3>
        <h4>
          Full Stack Software Engineer
        </h4>
        <div class="social-links">
          <a href="https://github.com/mariehmai" class="social-link" target="_blank" rel="noopener">
            <img
              src="{{ "images/github.svg" | relURL }}"
              alt="Github Logo"
            >
          </a>
          <a href="https://www.linkedin.com/in/mariehmai" class="social-link" target="_blank" rel="noopener">
            <img
              src="{{ "images/linkedin.svg" | relURL }}"
              alt="LinkedIn Logo"
            >
          </a>
          <a href="mailto:mai.mariehelene@gmail.com" class="social-link" target="_blank" rel="noopener">
            <img
              src="{{ "images/email.svg" | relURL }}"
              alt="LinkedIn Logo"
            >
          </a>
        </div>

      </div>
    {{ partial "nav.html" . }}
    {{ if eq .Site.Params.moveFooterToHeader true }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
</header>
