<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <div
      {{ if eq .Site.Params.showThemeSwitcher false }}style="display: none;"{{ end }}
      style="display: flex; justify-content: flex-end; align-items: center;"
      >
        <label for="themer" style="cursor: pointer; display: flex; align-items: center; width:fit-content; margin: 0 0 0.5rem 0;">
          <img
            src="{{ "images/moon.svg" | relURL }}"
            alt="Dark theme"
            width="20"
          >
          <input type="checkbox" id="themer" class="vh">
          <!-- Shows "on" or "off" -->
          <span style="margin-top: 0; margin-left: 0.25rem;" aria-hidden="true"></span>
        </label>
      </div>
      <a
        class="logo"
        href="{{ .Site.BaseURL }}"
        aria-label="{{ .Site.Title }} home page"
      >
        {{ with .Site.Params.navTitleText }}
          <h1>{{ . }}</h1>
        {{ else }}
          <img
            src="{{ "images/logo.png" | relURL }}"
            alt="{{ .Site.Params.logoAlt | default "Logo" }}"
            style="background: none;"
          >
          {{ end }}
        </a>
        <h3>
          Marie-Hélène Mai
        </h3>
        <h4>
          Full Stack Software Engineer
        </h4>
      </div>
    {{ partial "nav.html" . }}
    {{ if eq .Site.Params.moveFooterToHeader true }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
</header>
