<section id="hobbies" style="margin-top: 0;">
  <img id="climbing" class="lg" src="images/climbing.svg" style="margin-right: 16px;" />
  <img id="colombia" class="lg" src="images/colombia.svg" style="margin-right: 16px;" />
  <img id="code" class="xs" src="images/code.svg" style="margin-right: 16px;" />
  <img id="waffle" class="sm" src="images/waffle.svg" style="margin-right: 16px; transform: rotate(10deg);" />
  <img id="racket" class="sm" src="images/racket.svg" style="margin-right: 16px; transform: rotate(20deg);" />
  <img id="vietnam" class="sm" src="images/vietnam.svg" />
</section>
