{{ $JSON := $.Site.Data.projects }}
{{ $included := replace (.Get "include") ", " "," }}
{{ $included := apply (split $included ",") "lower" "." }}
{{ $descriptions := .Get "descriptions" }}
<ul class="projects {{ if and ($descriptions) (ne $descriptions "false") }}with-desc{{ end }}">
  {{ range $JSON.projects }}
  {{ if in $included (lower .title) }}
  <li>
    <strong>
      <a href="{{ .link }}" target="_blank" rel="noopener">{{ .title }}</a>
      <a style="border: none;" href="{{ .github }}" target="_blank" rel="noopener">
        <svg class="social-icon" aria-hidden="true" focusable="false">
          <use xlink:href="#github"></use>
        </svg>
      </a>
    </strong>
    <br />
    {{ range .tags }}
      <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false" style="margin: 0">
        <use xlink:href="#tag"></use>
      </svg>
      <span class="tag">{{ . }}</span>
      <!-- {{ $href := print ("tags/" | relLangURL) (. | urlize) "/" }}
      <a href="{{ $href }}">{{ . }}</a> -->
    {{ end }}
    {{ if and ($descriptions) (ne $descriptions "false") }}
      <p>{{ .description }}</p>
    {{ end }}
  </li>
  {{ end }}
  {{ end }}
</ul>
